<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Jazz: 500</title>
    <style>
      body {
          border-top: 2px solid blue;
          margin: 0;
          font: 19px/1.3 sans-serif;
      }
      main {
        max-width: 44em;
        margin: 1em;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>500 &mdash; Internal server error</h1>
      <p>¯\_(ツ)_/¯</p>
    </main>
  </body>
</html>
