<%= form_for @conn, Routes.post_path(@conn, :all_read), fn f -> %>
  <h1 class=title>
    <%= length(@posts) %> unread
    <%= hidden_input f, :ids, value: @ids %>
    <%= submit "Mark all as read", disabled: length(@posts) == 0 %>
  </h1>
<% end %>

<%= render "list.html", conn: @conn, posts: @posts, to: @page %>
