<%= form_for @conn, Routes.post_path(@conn, :all_read), fn _f -> %>
  <h1 class=title>
    <%= length(@posts) %> unread
    <%= submit "Mark all as read" %>
  </h1>
<% end %>

<%= render "list.html", conn: @conn, posts: @posts, to: @page %>
