<%= form_for @conn, Routes.note_path(@conn, :edit), fn f -> %>
  <h1 class=title>
    <%= @file %>&nbsp;
    <%= submit "Save" %>
  </h1>
  <%= hidden_input f, :file, value: @file %>
  <%= textarea f, :content, value: @content, class: "edit_note", autofocus: true %>
<% end %>
